@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.offers {
    position: relative;
    background: linear-gradient(180deg, transparent 0%, #ff0606 50%, #fd0000 50%);
    z-index: 1;
  }
